body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #191919;
    color: #ecf0f1;
    font-family: "Space Grotesk", serif;
}

.clock {
    font-size: 5rem;
    background: linear-gradient(
        to right,
        #002fff 20%,
        #03afff 30%,
        #1100ff 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}