/* Reset and basic styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Content styles */
.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 9rem;
    margin-bottom: 20px;
    font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-button {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}


nav {
    position: relative;
    top: 0;
    right: 0;
    background: rgba(163, 147, 147, 0);
    padding: 20px;
    border-radius: 8px;
}

nav.hidden {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    display: block;
    width: 150px; /* Adjust width to fit your design */
    height: 150px; /* Adjust height to fit your design */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

nav ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

nav ul li a:hover {
    opacity: 0.8;
}

/* Footer styles */
.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
